<p-panel header="Basic Pipes" class="p-1">
  <p>
    Pipes are a powerful way to transform data in your Angular templates. They allow you to format, filter, and manipulate data before it is displayed to the user. In this section, we will explore some of the most commonly used pipes in Angular and how they can enhance the presentation of your data.
  </p>
</p-panel>


<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>


  <div class="col-12 md:col-6">
    <p-card header="titlecase">

      <ol>
        <li> date </li>
        <li> date | date </li>
        <li> date | date:'short' </li>
        <li> date | date:'long' </li>
        <li> date | date:'MMMM' </li>
        <li> date | date:'MMMM dd, yyyy' </li>
      </ol>

      <hr>
      <ol>
        <li> date | date:'long':'GMT-6' </li>
        <li> date | date:'long':'GMT-4' </li>
        <li> date | date:'long':'':'es-HN' </li>
        <li> date | date:'long':'':'en-US' </li>
        <li> date | date:'long':'':'fr-CA' </li>
      </ol>

    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="titlecase">

      <ol>
        <li> {{ customDate }} </li>
        <li> {{ customDate | date }} </li>
        <li> {{ customDate | date:'short' }} </li>
        <li> {{ customDate | date:'long' }} </li>
        <li> {{ customDate | date:'MMMM' }} </li>
        <li> {{ customDate | date:'MMMM dd, yyyy' }} </li>
      </ol>

      <hr>
      <ol>
        <li> {{ customDate | date:'long':'GMT-6' }} </li>
        <li> {{ customDate | date:'long':'GMT-4' }} </li>
        <li> {{ customDate | date:'long':'':'es-HN' }} </li>
        <li> {{ customDate | date:'long':'':'en-US' }} </li>
        <li> {{ customDate | date:'long':'':'fr-CA' }} </li>
      </ol>
    </p-card>
  </div>
</div>
